<!-- Header -->
<div class="header row mx-4">
    <div class="col-3 center-align-vertical">
        <h2 class="m-0">Vicky & Andre</h2>
    </div>
    <div class="col-9 align-right center-align-vertical">

        <div class="row h-100 w-100 justify-content-end">

            <div class="pointer transparent-border" [routerLink]="['/home-page']" routerLinkActive="active-nav-link">
                <p class="m-2">Home</p>
            </div>

            <div class="pointer transparent-border" [routerLink]="['/wedding-party']" routerLinkActive="active-nav-link">
                <p class="m-2">Wedding Party</p>
            </div>

            <div class="pointer transparent-border" [routerLink]="['/venue']" routerLinkActive="active-nav-link">
                <p class="m-2">Venue</p>
            </div>

            <div class="pointer transparent-border" [routerLink]="['/schedule']" routerLinkActive="active-nav-link">
                <p class="m-2">Schedule</p>
            </div>

            <div class="pointer transparent-border" [routerLink]="['/dress-code']" routerLinkActive="active-nav-link">
                <p class="m-2">Dress Code</p>
            </div>

            <div class="pointer transparent-border" [routerLink]="['/accommodation']" routerLinkActive="active-nav-link">
                <p class="m-2">Accommodation</p>
            </div>


            <div class="pointer transparent-border" [routerLink]="['/rsvp']" routerLinkActive="active-nav-link">
                <p class="m-2">RSVP</p>
            </div>
        </div>

    </div>
</div>

<div class="header-bottom-border"></div>
<!-- End of Header -->

<!-- Body -->
<div class="body-container">
    <router-outlet></router-outlet>
</div>
<!-- End of Body -->