<!-- Header -->
<div class="header row mx-4">
    <div class="col-3 center-align-vertical">
        <h2>Vicky & Andre</h2>
    </div>
    <div class="col-9 align-right center-align-vertical">

        <div class="row h-100 w-100 justify-content-end">
            <div class="p-2">
                <P>Wedding Party</P>
            </div>

            <div class="p-2">
                <P>Venue</P>
            </div>

            <div class="p-2">
                <P>Schedule</P>
            </div>

            <div class="p-2">
                <P>Dress Code</P>
            </div>

            <div class="p-2">
                <P>Accommodations</P>
            </div>


            <div class="p-2">
                <P>RSVP</P>
            </div>
        </div>

    </div>
</div>

<div class="header-bottom-border"></div>
<!-- End of Header -->

<!-- Body -->
<div class="m-4">
    <router-outlet></router-outlet>
</div>
<!-- End of Body -->