<h1 class="my-6 pb-6 text-center">Wedding party</h1>

<div class="row mt-6">
    <div *ngFor="let participent of weddingPartyParticipents" class="col-3">
        <div class="participent-container mx-auto p-4">
            <div style="background-image: url(assets/images/wedding-party/{{participent.imageName}}.jpeg)" class="participent-image mx-auto mb-3"></div>
            <p [innerHTML]="participent.fullName" class="text-size-18 font-weight-semi-bold text-center"></p>
            <p [innerHTML]="participent.description" class="text-center mb-0 font-style-italic"></p>
        </div>
    </div>
</div>