.participent-container {
    border-radius: 25%;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.participent-image {
    width: 100px;
    height: 100px;
    background-image: url(var(--imageName));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
}

// https://blog.wedsites.com/10-beautiful-wedding-website-examples-to-inspire-you/
// https://blog.coderfy.io/css-variables-dont-work-with-the-url-function
//ng build --base-href "https://KokAndre.github.io/kok-wedding-invitation/"
// npx angular-cli-ghpages --dir=dist/kok-wedding-invitation"