.participent-container {
    border-radius: 25%;
    box-shadow: 5px 10px 18px #e8e1d1;
    width: 170px;
    margin-bottom: 3rem;

     background-image: url('../../../assets/images/wedding-prticipent-image-2.jpg');
     background-size: cover;
     background-position: top;
     background-repeat: no-repeat;
}

.participent-image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 30%;
}