<!-- <h1 class="my-6 pb-6 text-center">Schedule</h1> -->

<div class="mt-6">
    <div *ngFor="let scheduleItem of scheduleList; let i = index; let first = first; let last = last"
        [ngClass]="{'pb-6': last, 'mx-6': !isMobileView}">
        <div class="justify-content-center" [ngClass]="(i + 1)%2 ? 'row' : 'reverse-row text-right'">
            <div [ngClass]="isMobileView ? scheduleItem.rightAlign ? 'col-5 mobile-schedule-image align-background-right' : scheduleItem.leftAlign ? 'col-5 mobile-schedule-image align-background-left' : 'col-5 mobile-schedule-image' : 'col-4 schedule-image'"
                class="" style="background-image: url(assets/images/schedule/{{scheduleItem.imageName}})">
            </div>
            <div class="col-1">
                <div class="center-schedule-line" [ngClass]="{'first-item': first, 'last-item': last}"></div>
                <div class="center-schedule-line-item"></div>
            </div>
            <div [ngClass]="isMobileView ? 'col-5' : 'col-4'" class="center-align-vertical">
                <h1 *ngIf="!isMobileView" class="mb-6" [innerHTML]="scheduleItem.heading"></h1>
                <h2 *ngIf="isMobileView" class="mb-6" [innerHTML]="scheduleItem.heading"></h2>
                <p class="text-size-22 mb-6" [innerHTML]="scheduleItem.time"></p>
                <p class="text-size-22 mb-0" [innerHTML]="scheduleItem.description"></p>
            </div>
        </div>
    </div>
</div>