<div *ngIf="!isMobileView" class="row mt-5 px-4">
    <div class="col-4 home-image-banner image-1"></div>
    <div class="col-4 home-image-banner image-2"></div>
    <div class="col-4 home-image-banner image-3"></div>
</div>

<div *ngIf="isMobileView" class="row mt-5 px-4">
    <div class="col-6 mobile-home-image-banner image-1"></div>
    <div class="col-6 mobile-home-image-banner image-2"></div>
    <div class="col-6 mobile-home-image-banner image-3"></div>
    <div class="col-6 mobile-home-image-banner image-4"></div>
</div>

<div class="names-container mx-auto mt-6">
    <h1 class="py-6 text-center">Vicky</h1>
    <div class="row py-6">
        <div class="col my-auto">
            <div class="name-line"></div>
        </div>
        <h1 class="mx-6">&</h1>
        <div class="col my-auto">
            <div class="name-line"></div>
        </div>
    </div>
    <h1 class="py-6 text-center">Andre</h1>
</div>

<p class="text-center my-6 text-size-22">July 27, 2024</p>

<div class="row pt-4">
    <div class="col-auto mx-auto text-center">
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="text-size-22">Time till <b>#Kok-Bruilof</b></p>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-auto text-center mx-4">
                <p class="text-size-22" [innerHTML]="displayDays"></p>
                <p class="text-size-18">Days</p>
            </div>
            <div class="col-auto text-center mx-4">
                <p class="text-size-22" [innerHTML]="displayHours"></p>
                <p class="text-size-18">Hours</p>
            </div>
            <div class="col-auto text-center mx-4">
                <p class="text-size-22" [innerHTML]="displayMinutes"></p>
                <p class="text-size-18">Minutes</p>
            </div>
            <div class="col-auto text-center mx-4">
                <p class="text-size-22" [innerHTML]="displaySeconds"></p>
                <p class="text-size-18">Seconds</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-6 justify-content-center" *ngIf="isAdmin">
    <p class="text-size-18">Release version: {{ releaseVersion }}</p>
</div>