<div [ngClass]="isMobileView ? 'mobile-venue-logo' : 'venue-logo'" class="mx-auto my-6"></div>

<div *ngIf="!isMobileView">
    <div class="row">
        <div class="col-4 venue-image image-1"></div>
        <div class="col-4 venue-image image-2"></div>
        <div class="col-4 venue-image image-3"></div>
    </div>
    <div class="row">
        <div class="col-4 venue-image image-4"></div>
        <div class="col-4 venue-image image-5"></div>
        <div class="col-4 venue-image image-6"></div>
    </div>
</div>

<div *ngIf="isMobileView" class="px-4">
    <div class="row">
        <div class="col-6 venue-image image-1"></div>
        <div class="col-6 venue-image image-2"></div>
    </div>
    <div class="row">
        <div class="col-6 venue-image image-3"></div>
        <div class="col-6 venue-image image-4"></div>
    </div>
    <div class="row">
        <div class="col-6 venue-image image-5"></div>
        <div class="col-6 venue-image image-6"></div>
    </div>
</div>


<div class="my-6 pb-6 mx-auto width-fit-content">
    <a class="" target="_blank"
        href="https://www.google.com/maps/place/Treedom+Villas+%26+Vardos+Wilderness/@-33.9964232,22.6507175,17z/data=!4m10!3m9!1s0x1e78a74fc7b239e9:0x6ac4b78561b8caee!5m3!1s2024-02-28!4m1!1i2!8m2!3d-33.9964277!4d22.6532924!16s%2Fg%2F11gyxffdvn?entry=ttu">
        <div [ngClass]="isMobileView ? 'mobile-google-maps-image' : 'google-maps-image'" class="mx-auto"></div>
    </a>
</div>