.venue-logo {
    width: 600px;
    height: 250px;
    background-image: url(../../../assets/images/venue/venue-logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.google-maps-image {
    width: 800px;
    height: 400px;
    background-image: url(../../../assets/images/venue/google-maps-image.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.venue-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-1 {
    background-image: url(../../../assets/images/venue/venue1.jpeg);
}

.image-2 {
    background-image: url(../../../assets/images/venue/venue2.jpeg);
}

.image-3 {
    background-image: url(../../../assets/images/venue/venue3.jpeg);
}

.image-4 {
    background-image: url(../../../assets/images/venue/venue4.jpeg);
}

.image-5 {
    background-image: url(../../../assets/images/venue/venue5.jpeg);
}

.image-6 {
    background-image: url(../../../assets/images/venue/venue6.jpeg);
}