<div class="col-12 w-100 justify-content-center mt-6">
    <h1 class="text-capitilize text-center">Hello {{ userData.firstName }} {{userData.lastName}}</h1>
</div>

<div *ngIf="userData.rsvpUpdateDate" class="mt-6">
    <h2 class="text-center pt-6">On <span>{{ userData.rsvpUpdateDate| date:'mediumDate' }}</span> you RSVP'd: <span
            class="text-capitilize">{{ userData.rsvpStatus }}</span>.</h2>

    <div *ngIf="userData.rsvpStatus !== 'declined'">
        <h2 *ngIf="userData.nightsAccommodation === '0'" class="text-center pt-6">You selected to arrange your own
            accommodation.</h2>
        <h2 *ngIf="userData.nightsAccommodation === '1'" class="text-center pt-6">You selected accommodation for
            Saturday
            night only.</h2>
        <h2 *ngIf="userData.nightsAccommodation === '2'" class="text-center pt-6">You selected accommodation for Friday
            and
            Saturday night.</h2>
    </div>


    <div *ngIf="!displayCaptureRSVP" class="row justify-content-center pt-6">
        <button mat-raised-button class="mx-auto text-size-22" (click)="displayCaptureRSVP = true">Change RSVP</button>
    </div>
</div>

<div *ngIf="!userData.rsvpUpdateDate" class="mt-6">
    <h2 class="text-center pt-6">You have not RSVP'd yet</h2>

    <div *ngIf="!displayCaptureRSVP" class="row justify-content-center pt-6">
        <button mat-raised-button class="mx-auto text-size-22" (click)="displayCaptureRSVP = true">RSVP</button>
    </div>
</div>

<div *ngIf="displayCaptureRSVP" class="pt-6 mx-auto text-center col-12 px-2">

    <h2 class="mt-6">Please set RSVP status:</h2>

    <mat-radio-group class="col-12" [(ngModel)]="rsvpStatus">
        <mat-radio-button class="mr-6" value="accepted">
            <p class="mb-0 text-size-30">Accept</p>
        </mat-radio-button>
        <mat-radio-button value="declined">
            <p class="mb-0 text-size-30">Decline</p>
        </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="rsvpStatus !== 'declined'">
        <h2 class="mt-4">Please indicate the evening for which you require
            accommodation:</h2>

        <mat-radio-group class="col-12" [(ngModel)]="nightsAccommodation">
            <mat-radio-button class="mr-6" value="0">
                <p class="mb-0 text-size-30">I will arrange my own</p>
            </mat-radio-button>
            <mat-radio-button class="mr-6" value="1">
                <p class="mb-0 text-size-30">Saturday</p>
            </mat-radio-button>
            <mat-radio-button value="2">
                <p class="mb-0 text-size-30">Friday and Saturday</p>
            </mat-radio-button>
        </mat-radio-group>
    </div>


    <div class="row justify-content-center pt-6">
        <button mat-raised-button class="mx-auto text-size-22" (click)="submitRSVPClicked()">{{ isLoading ? 'Please
            wait...' : 'Submit'}}</button>
    </div>

    <h2 *ngIf="displayErrorMessage && !rsvpStatus" class="error-text mt-6"><span class="text-size-30">*</span> Please
        select an RSVP value!</h2>
    <h2 *ngIf="displayErrorMessage && !nightsAccommodation" class="error-text mt-6"><span class="text-size-30">*</span> Please
        select accommodation requirements!</h2>
</div>