<div class="col-12 w-100 justify-content-center mt-6">
    <h1 class="text-capitilize text-center">Hello {{ userData.firstName }} {{userData.lastName}}</h1>
</div>

<div *ngIf="userData.rsvpUpdateDate" class="mt-6">
    <h2 class="text-center pt-6">On <span>{{ userData.rsvpUpdateDate| date:'mediumDate' }}</span> you RSVP'd: <span
            class="text-capitilize">{{ userData.rsvpStatus }}</span></h2>

    <div *ngIf="!displayCaptureRSVP" class="row justify-content-center pt-6">
        <button mat-raised-button class="mx-auto text-size-22" (click)="displayCaptureRSVP = true">Change RSVP</button>
    </div>
</div>

<div *ngIf="!userData.rsvpUpdateDate" class="mt-6">
    <h2 class="text-center pt-6">You have not RSVP'd yet</h2>

    <div *ngIf="!displayCaptureRSVP" class="row justify-content-center pt-6">
        <button mat-raised-button class="mx-auto text-size-22" (click)="displayCaptureRSVP = true">RSVP</button>
    </div>
</div>

<div *ngIf="displayCaptureRSVP" class="pt-6 mx-auto text-center" [ngClass]="isMobileView ? 'col-12' : 'col-6'">

    <h2 class="mt-6">Please set RSVP status:</h2>

    <mat-radio-group class="col-12" [(ngModel)]="rsvpStatus">
        <mat-radio-button class="mr-6"  value="accepted">
            <p class="mb-0 text-size-30">Accept</p>
        </mat-radio-button>
        <mat-radio-button value="declined">
            <p class="mb-0 text-size-30">Decline</p>
        </mat-radio-button>
    </mat-radio-group>

    <div class="row justify-content-center pt-6">
        <button mat-raised-button class="mx-auto text-size-22" (click)="submitRSVPClicked()">{{ isLoading ? 'Please wait...' : 'Submit'}}</button>
    </div>

    <h2 *ngIf="displayErrorMessage && !rsvpStatus" class="error-text mt-6"><span class="text-size-30">*</span> Please select an RSVP value!</h2>
</div>